/**primary skin*/
.skin-blue .main-header .navbar
  background-color: $color-blue-primary

.skin-blue .main-header .logo
  background-color: $color-blue-secondary


.skin-blue .main-header .logo:hover
  background-color: $color-blue-secondary
.skin-blue .main-header .navbar .sidebar-toggle:hover
  // background-color: $color-blue-secondary
  transition all .3s ease
  -webkit-transition all .3s ease
  -moz-transition all .3s ease

.form-group.has-success label
  color #666

.form-group.has-success .form-control,
.form-group.has-success .input-group-addon
  border-color  #ccc

.form-group.has-success .help-block
  color #666

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a
  color: #ffffff;
  // background: $color-black-bg;
  border-left-color: $color-blue-primary;

.skin-blue .sidebar-menu > li > .treeview-menu
  margin: 0 1px;
  background $color-gray-bg

.skin-blue .sidebar-menu > li > a
  border-left: 4px solid transparent

.sidebar-menu > li > a
  padding: 14px 5px 14px 15px
  display: block
.sidebar-menu .treeview-menu > li
  line-height 26px
  margin: 0;

.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion
  width 16px
  font-size 10px
  margin-right: 8px

.skin-blue .treeview-menu > li.active > a > i,
.skin-blue .treeview-menu > li > a:hover >i
  color: $color-blue-primary

// .skin-blue .treeview-menu > li.active
//     background-color $color-white-bg
.skin-blue .treeview-menu > li:hover
  transition all .3s ease
  -webkit-transition all .3s ease
.skin-blue .treeview-menu > li.active > a
    color: #fff
.sidebar-menu .treeview-menu
    padding 0
.sidebar-menu .treeview-menu > li
    width 100%
.sidebar-menu .treeview-menu > li > a
   margin-left 10px
.content-wrapper,
.right-side
  background-color $color-white-bg
.skin-blue .wrapper
  background-color transparent
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li.active > a:hover
  color #fff
.skin-blue .treeview-menu > li > a:hover
  color #fff
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu
  left: 0