html,body
    height: 100%;
    font-family: 'Microsoft YaHei';
ul
    padding: 0;
    margin: 0;
li
    list-style-type: none;
    padding: 0;
    margin: 0;
*
    outline: none;

a
    cursor: pointer
    outline none !important
    color #999
    &:link,&:focus,&:visited
        text-decoration none !important
        outline 0 !important
    &:hover
        text-decoration none !important
        outline 0 !important
.btn,.btn:active,.btn:focus
    outline 0
.btn-confirm,.btn-confirm:active,.btn-confirm:focus
    outline 0
.btn-blue,.btn-blue:active,.btn-blue:focus
    outline 0
.btn-reset,.btn-reset:active,.btn-reset:focus
    outline 0
.btn-default,.btn-default:active,.btn-default:focus
    outline 0


/*************ui-grid*****************/
.ui-grid-header-cell-wrapper
    background:$color-table-header ;
    color: $color-default-font;
    font-weight bold
    font-size 14px
    height 32px

.glyphicon-ok
    color:$color-red-primary;

.ui-grid-row
    .ui-grid-cell.ui-grid-row-header-cell
        background:$color-white;
        color:$color-white;
.table-select
    border:1px solid #ccc;
.ui-grid-header
    border-bottom:none;
.ui-grid-cell
    border-right:none;
    overflow visible !important
.ui-grid-header-cell
    border-right:none;

.ui-grid-viewport .ui-grid-cell-contents
    word-wrap: break-word;
    white-space: normal !important;
.ui-grid-row div[role=row]
    display: flex ;
    align-content: stretch;
    border-top:1px solid #dedede;
.ui-grid-row:nth-child(odd) .ui-grid-cell
    background-color transparent
.ui-grid-row:nth-child(even) .ui-grid-cell
    background-color transparent
.ui-grid-row:nth-child(odd),.ui-grid-row:nth-child(even)
    &:hover
        background-color #fafafa
.ui-grid-row, .ui-grid-cell,.ui-grid-cell .ui-grid-vertical-bar
    height auto !important
.table-select
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    margin: 5px auto;


/**********分页************/
.pagination
    &> li
        a,span
            color:$color-black;
    &> .active
        a,span,a:hover,span:hover,a:focus,span:focus
            background-color:$color-blue-forth;
            border-color:$color-blue-forth;
            color:$color-white;
.form-control-feedback
    display none
label
    font-weight: normal;
.ui-grid-row-selected
    background:$color-white;
.ui-grid .ui-grid-render-container-body .ui-grid-viewport
    overflow-x: auto !important;
    overflow-y: auto !important;
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
    padding-left:7px;
    padding-right:7px;
.form-horizontal .form-group
    // margin-left:-7px;
    // margin-right:-7px;
.has-success .form-control-feedback
    display: none;

.ui-grid-top-panel
    font-weight: normal;

.table-striped > tbody tr td
    border: 0;
    text-align: center;
    vertical-align: middle;

.table-striped > tbody tr th
    height 48px
    color: $color-default-font;
    border-right: 1px solid #fff;
    border-top: 0;
    text-align: center;
    vertical-align: middle;
    &:last-of-type
        border-right: 0;



.form-horizontal .text-left
    text-align:left;
.has-success .form-control
    border: 1px solid #ccc;
.has-success .control-label
    color:#333;
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus
    outline:none;

.dropdown-menu > li > a
    padding 8px 15px
    line-height 18px
.dropdown-menu > li > a >i
    width 15px
    display inline-block
    margin-right 9px
.btn-reset
    min-width 70px
    min-height 32px
    font-size 14px
.btn-clear
    color $color-blue-primary
    border 1px solid $color-blue-primary !important
    background-color #fff
    &:hover,&:focus
        color #40a5ed
        background-color transparent !important
        border-color #40a5ed
    &:active
        color #0f87dd
        background-color transparent !important
        border-color #0f87dd
.select2-results__options
    li
        &:hover
            background-color $color-blue-primary !important
            transition all .3s ease
            -webkit-transition all .3s ease
.select2-results__option--highlighted
    background-color $color-blue-primary !important
// .select2-container .select2-choice abbr
//     display block
.has-feedback
    .form-control
        padding 6px 10px !important

/***下拉框清除**/
.select2-results .select2-highlighted
    background $color-blue-primary
.select2-drop-active
    border none
    border-top 1px solid #dedede
    // border-left: 1px solid $color-blue-primary
    // border-right: 1px solid $color-blue-primary
    // border-bottom: 1px solid $color-blue-primary
.select2-container .select2-choice
    width 100%
    height 100%
    line-height 20px
    background none
    border none
    border-radius 0
    .select2-arrow
        border-left: none; 
        border-radius: 0; 
        background-image: none;
        background: #fff;
        
.select2-search, .select2-results 
    padding-left: 5px;
    input
        border-color #dedede
        margin-top 10px

.btn-primary
    border-color $color-blue-secondary
    background-color $color-blue-primary
.btn-primary.disabled, .btn-primary[disabled]
    border-color $color-blue-secondary
    background-color $color-blue-primary
    opacity .5

/***** 重写tabs******/

.nav-tabs >li >a
    border none
    color #333
    font-size 16px
    bottom 1px
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus
    background-color transparent
    color $color-blue-primary
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
    -moz-transition all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
    border-top none
    border-left none
    border-right none
    color $color-blue-primary
    font-size 16px
    border-bottom 1px solid $color-blue-primary

/**************************/
.content-wrapper, .right-side
    background-color transparent

/**.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side
    background-color transparent
    .menu-header
        background-color transparent*/

/**********footer****************/
.main-footer
    border-top none
.bootbox
    .modal-dialog
        margin 100px auto !important
    .modal-dialog
        @media (min-width 992px) and (max-width 1119px)
            margin 100px auto !important
    .modal-dialog
        @media (min-width $screen-lg-min)
            margin 100px auto !important
.form-group.has-error .help-block
    display none
    height 0
.form-control-feedback
    display none
    height 0
.waitBox
    position: absolute
    z-index: 3999
    left: 50%
    top: 50%
    overflow: hidden
    margin: -88.5px 0 0 -88.5px
    width: 177px
    height: 177px
    background: url(/assets/images/login/loading.gif) top no-repeat
    line-height: 400px
    text-align: center
#pageOverlay_wait_submit
    position: fixed
    top: 0
    left: 0
    z-index: 2999
    width: 100%
    height: 100%
    background: #000
    opacity: 0.2


.form-group .ng-touched.ng-invalid-required
    border 1px solid #dd4b39
    box-shadow none

/***移除type="number"的上下小箭头***/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance none !important
    margin  0
input[type="number"]
    -moz-appearance:textfield

// .ui-grid-row > div
//     padding: 0 20px;

// ui-grid 水平居左，垂直居中设置
.ui-grid-cell-contents
    text-align: left;
    padding: 10px 0;
    padding-left: 20px;
    // border-left: 1px solid #d4d4d4;
    // &:before
    //     content:'';
    //     display:inline-block;
    //     vertical-align:middle;
    //     height:100%;
    > a
        line-height: 1
        &:first-of-type
            margin-left: 0
.ui-grid-header-cell ,.ui-grid-cell
    &:first-of-type .ui-grid-cell-contents
        // border-left: 0;
    
.ui-grid-header-cell-wrapper
    height: 50px;
    .ui-grid-cell-contents
        padding-top: 15px;
        padding-bottom: 15px;
    // padding: 15px 0;

// input 框样式重置
.form-control
    border-radius: 0
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.025)
    border-color: #dedede
.input-group-btn > .btn
    border-radius: 0
    
@media (min-width: 768px) 
  .sidebar-mini.sidebar-collapse .main-sidebar , .sidebar-mini.sidebar-collapse .main-header .logo
    width: 56px !important;
  .sidebar-mini.sidebar-collapse .main-header .navbar
    margin-left 56px
  .menu-header
    font-size 14px
    
// 顶部菜单样式重置
.main-header
  .logo
    font-size: 18px
  a
    color: #fff
    &:hover, &:active, &:focus
      color: #fff !important
