/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-blue-primary = rgba(75,119,190,.7)
$color-red-primary = rgba(252, 105, 105,.7);//#fc6969;
$color-red-secondary = #fc6969;//#e60012;
$color-red-third = #e46c6d;
$color-red-forth = #fff2f2;
$color-red-fifth = #fa9e9f;

$color-blue-primary =#0c92f2
$color-blue-secondary = #0a7bcc
$color-blue-third = #0c87f2
$color-blue-forth = #337ab7
$color-blue-fifth = #1890ff
$color-black-bg = #22282e
$color-gray-bg = #2e3d4d
$color-white-bg = #e4eaf2
$color-orange-btn=#fc830a
$color-red-btn = #d0021b
$color-blue-btn = #0c92f2
$color-green-btn = #00a65a
$color-customer-title = #f34347;
$color-gray-primary = #f5f5f5;
$color-gray-secondary = #4b4e5b;
$color-gray-border = #cecece;
$color-gray-third = #ddd;
$color-white = #fff;
$color-black = #000;
$color-yellow = #fffae5;
$color-brown = #a88970;
$color-default-font = #333;
$color-table-header = #f2f2f2;
$color-deep-blue = rgba(55, 130, 196,.7);
$color-table-even = #fbfcfe
/* Font */
$font-yahei = '微软雅黑', 'Arial', sans-serif;
$font-h2 = bold 18px Microsoft Yahei,arial,sans-serif
/* Media Query */
$smart = 'screen and (max-width: 768px)'

/*mobile*/
$mobile-line-height = 48px
$mobile-font-size = 20px


$smart = 'screen and (max-width: 480px)'
$tablet = 'screen and  (min-width: 481px) and (max-width: 768px)'
$desktop = 'screen and (min-width: 769px) and (max-width:991px)'
$retina = '(min-width:992px)'
