.btn-powder-shadow
    background-color: #f5f5f5;
    border-radius: 0px;
    margin-right: 10px;
    border-radius:0px;
    -webkit-box-shadow: 0px 2px 0px 0px #dfdfdf;
    -moz-box-shadow: 0px 2px 0px 0px #dfdfdf;
    box-shadow: 0px 2px 0px 0px #dfdfdf;
    border: 1px solid #f5f5f5;
.btn-powder-shadow-active
    background-color: $color-red-primary !important;
    border: 1px solid $color-red-primary;
    color:$color-white;
    -webkit-box-shadow: 0px 2px 0px 0px $color-red-secondary;
    -moz-box-shadow: 0px 2px 0px 0px $color-red-secondary;
    box-shadow: 0px 2px 0px 0px $color-red-secondary;
