.tabs
    .cfo-tab
        background:#f5f5f5;
        border:1px solid #ddd;
        .cfo-tab-item
            padding-left:10px;
            padding-right:10px;
            color: $color-white;
            font-size:14px;
            line-height :3em;
            // border-radius: 15px 15px 0 0;
            // margin-left:-28px;
            height:40px;
            // position:relative;
            color: #777;
            font-weight:bold;
            margin-bottom:-1px;
        .selected
            // padding-left:5%;
            background:$color-white;

            // background-image:url("./images/tab-btn-02.png") !important;

            // position:relative;

            // z-index:20 !important;
        .unselected
            //background:#f5f5f5;
            // background-image:url("./images/tab-btn-03.png");
    .cfo-tab-body
        border-radius: 0;
        border:1px solid #eee;
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        margin-top:-1px;
