.tabs
    border: solid 1px white;
    overflow: hidden;
    width:100%;
    .cfo-tab
        width:100%;
        .cfo-tab-item
            background-size: 100% 100%;
            background-repeat :no-repeat;
            display:inline-block;

        // .odd
        //     background-image:url("./images/tab-btn-03.png");
    .cfo-tab-body
        //position:auto;
        background-color: #fff;
