.header
    .platform-chinese
        font-size: 28px;
        color: #e60012;
        font-weight: bolder;
    .platform-english
        font-size: 12px;
        color: #474e5d;
    .header-item-menu
        .icon
            &:hover
                // color:$color-red-secondary;
                color #fff
