.userManagement
    .grid-container
        margin: 20px 10px
    .tree-height
        height: 618px
        overflow: auto
    .container-height
        height: 600px
    .btn-inner-cell
        display: block
        width: 100%
    .form-none-bottom
        margin-bottom: 3px
    .popover-content
        padding: 3px