.funnel-chart
    font-size 12px
    color #333
    .chart-item-bar
        color #fff;
        .item-bar-sub
            background-color $color-red-primary
            height:35px;
    .chart-item-descript
        color #333;
        height:35px;

    .chart-item:nth-child(1)
        .item-bar-sub
            background-color: #f54348;
            height:35px;
    .chart-item:nth-child(2)
        .item-bar-sub
            background-color: #fc6a6c;
            height:35px;
    .chart-item:nth-child(3)
        .item-bar-sub
            background-color: #fe7e7c;
            height:35px;
    .chart-item:nth-child(4)
        .item-bar-sub
            background-color: #fe9b9c;
            height:35px;
    .chart-item:nth-child(5)
        .item-bar-sub
            background-color: #febdbe;
            height:35px;
