.cfo-calendar

    .calendar-today
        border:1px solid $color-red-fifth;
        border-radius:50%;
    .calendar-week
        color:#131313;
        font-size:16px;
    .calendar-table
        td
            text-align:center;
    .calendar-solar-date,.calendar-lunar-date
        text-align:center;
    .calendar-solar-date
        font-size:16px;
        font-weight:bold;
        color:$color-gray-secondary;
    .calendar-lunar-date
        font-size:12px;
        color $color-gray-secondary;
    .calendar-weekend
        color $color-customer-title !important;
    .todayValue
        color red
        font-size 35px
        font-weight bolder
    .todayInfo
        text-align left !important
        vertical-align: middle
        p
            display inline-block
            width 45%
            font-size 12px
            color #666
        .blue
            color #6699ff
        .red
            color $color-red-fifth
            margin-right 7px
        em
            margin 0 5px
    .clendar-icon
        color: $color-red-fifth
        vertical-align: middle
