.welcome
    background url('/assets/images/welcome/welcome.png') center bottom no-repeat
    @media $tablet
        height 700px
    @media $desktop
        height 300px
    @media $retina
        height 400px
    @media(min-width 1920px)
        height 1080px