<div class="cashierdeskModal">
    <form name="ngForm">
        <div class="form-horizontal" sf-schema="vm.schema" sf-form="vm.form" sf-model="vm.model"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
                <button class="btn btn-confirm" ng-click="vm.autoReceiveSure(ngForm)">确定</button>
                <button class="btn btn-default btn-margin-l" ng-click="vm.dismissModal()">取消</button>
            </div>
        </div>
    </form>
</div>
