// .ui-grid-header-cell-wrapper{
//  background:#fc6969;
//  color:#fff;
// }
// .glyphicon-ok{
//   color:#fc6969;
// }
// .ui-grid-row:nth-child(even) .ui-grid-cell{
// background:#f6f6f6;
// }
// .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell{
// background:#ffffff;
// color:#ffffff;
// }
// .table-select{
//   border:1px solid #ccc;
// }
