// .ui-grid-header{
// border-bottom:none;
// }
//
// .ui-grid-cell{
// border-right:none;
// }
// .ui-grid-header-cell{
//   border-right:none;
// }
//
// .table-select{
//   width:25px;
//   height:25px;
//   text-align:center;
//   line-height:25px;
//   margin:2px 0;
// }
