<div class="menuManagement">
    <div class="col-lg-3 col-md-3 col-sm-3">
         <cfo-panel class = 'portleft' panel-options="vm.panelOrgOptions">
            <panel-title></panel-title>
            <panel-body>
                <div class = "tree-height">
                   <menu-tree ng-if="vm.tree" tree="vm.tree"></menu-tree>
                </div>
            </panel-body>
        </cfo-panel>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9" style="position:relative;">
        <!--查询面板-->
        <cfo-panel panel-options="vm.formPanelOptions">
            <panel-title>
                <div ng-if="vm.title" class="panel-actions">
                    <span ng-bind="vm.title"></span>
                    <i class="fa fa-question-circle" aria-hidden="true" ng-click=""></i>
                </div>
            </panel-title>
            <panel-body>
                <form class="form-horizontal" sf-schema="vm.schema" sf-model="vm.model" sf-form="vm.form"></form>
            </panel-body>
        </cfo-panel>
        <!--返回结果-->
        <cfo-panel panel-options="vm.gridPanelOptions">
            <panel-title>
                <div ng-if="vm.title" class="panel-actions">
                    <span ng-bind="vm.title"></span>
                    <i class="fa fa-question-circle" aria-hidden="true" ng-click=""></i>
                </div>
            </panel-title>
            <panel-body>
                <div class="row" loading="vm.gridOptions.data">
                    <div class="grid" ui-grid="vm.gridOptions" ui-grid-selection></div>
                </div>
                <!--分页-->
                <cfo-pagination page="vm.page.startIndex" page-size="vm.page.pageSize" total="vm.page.total" paging-action="vm.doCtrlPagingAct(page, pageSize, total)">
                </cfo-pagination>
            </panel-body>
        </cfo-panel>
    </div>
</div>
