.side-bar
    height: 100%;
    width: 100%;
.side-bar-vertical
    width:100%;
.menu-toggler
    position relative
    z-index 12
    width 100%
    height 48px
    background-color #394554
    text-align center
    cursor pointer
    .iconfont
        font-size 20px
        line-height 48px
