.side-bar
    &.side-bar-default
        // background: #4b4e5b;
        // // color: #9b9ea4;
        // color #fff
    .side-item.is-active
        background-color #0095ff
    .side-item:hover
        background #0095ff;
        transition all .3s ease
        -webkit-transition all .3s ease
        -moz-transition all .3s ease
.side-bar-vertical
    &.side-bar-default
        background: $color-white;
        // color: #9b9ea4;
        color #fff
        .icon
            font-size:12px;
