.paging-panel
    .page-pagination
        span
            font-size 12px
            font-weight 400
            line-height 30px
        .current
            background #e00
            color #fff
            font-weight 400
        .size-control
            margin:20px 0;
        .size-select
            width:auto;
            height: 30px;
            border:1px solid #ddd;
    .totalCount
         margin-top: -20px;