.left-title
    height: 180px;
    float: left;

.matrix
    //width: 550px;
    width: 70%;
    float: left;
    .matrix-item
        width: 33.3%;
        height: 33.3%;
        float: left;
        border: 1px solid white;
        vertical-align: middle;
        .matrix-circle
            border: 2px solid #f28286;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            color: #f28286;
            margin: 8px 46% 2px;
        .matrix-item-title
            height: 22px;
            text-align: center;

.yAxis-title
    margin: 45px 0 0 45px;

.xAxis-title
    margin: 2px 0 0 30%;
    float: left;
