.salesDetailAnaly
    .sales-amount
        margin-bottom: 8px
        .control-label
            max-width: 90px;
            padding: 0;
            margin-top: 5px;
        .form-control
            max-width: 240px;   