<div class="funddetailModal">
    <uib-tabset active="active">
        <uib-tab index="$index + 1" ng-repeat="tab in vm.tabs" heading="{{tab.title}}" disable="tab.disabled" select="vm.selectFun($index);">
            <div class="row detail-form" ng-if="$index===0">
                <cfo-panel panel-options="">
                    <panel-body>
                        <form class="form-horizontal" sf-schema="vm.detailSchema" sf-form="vm.detailForm" sf-model="vm.model"></form>
                        <div class="form-group">
                        <div class="detailform-blank"></div>
                        <div class="row-desc col-lg-12 col-md-12 col-sm-12">
                        <div class="text-right desc-title">
                            <label>备注</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  desc-content">
                            <p ng-bind="vm.model.comments"></p>
                        </div>
                        </div>
                        </div>
                    </panel-body>
                </cfo-panel>
            </div>
            <div ng-if="$index ===1">
                <cfo-panel panel-options="">
                    <panel-title></panel-title>
                    <panel-body>
                        <div loading="vm.gridOptions.data">
                            <div  class="grid" ui-grid="vm.gridOptions" ui-grid-selection></div>
                        </div>
                    </panel-body>
                </cfo-panel>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
