.cfo-tree
    .iconfont
        font-size: 14px;
    .btn
        margin-right: 0px;
        border-radius: 10px !important;
    .btn-xs, .btn-group-xs > .btn
        padding: 3px 4px;
    .angular-ui-tree-handle
        background: #f8faff;
        border: 1px solid #dae2ea;
        padding: 10px 10px;
    .angular-ui-tree-nodes .angular-ui-tree-nodes
        padding-left: 28px;
        .tree-node
            border: 0;
    .angular-ui-tree-placeholder
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    .angular-ui-tree-empty
            height: 100px;
    .tree-node
        background-color #fff
        border: 1px dashed #dfe1e0;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size 14px
        font-weight normal
        &:hover
            color $color-blue-primary !important
            // background #fff
        &.selected
            color $color-blue-primary !important
    .tree-handle
        padding: 10px;
        margin-right: 10px;
    .title-event
        float: right;
        text-decoration: blink;
        color: red;
        span
            padding: 0 3px;

.position-fixed
    position: fixed;
