.panel
    margin-left 10px
    margin-right 4px
    /**去掉panel自带的边框*/
    border none
    .panel-title
        font-size 18px
        line-height 15px
        color #444
    .panel-body
        .form-control
            .control-label
                color #333
                font-size 14px
            .l-textarea
                min-height 126px
                border-radius 2px
    
    .paging-panel
        padding: 0
        .page-pagination 
            span
                font-size: 14px
                margin-right: 8px
            .size-select
                border-radius: 0
                border-color: #dedede
                box-shadow: none
.panel
    margin-left 10px
    margin-right 4px
    .panel-hide
        display: none;
        .panel-title
            font-size: 18px;
            line-height: 18px;
            .panel-left
                .panel-img
                    background: url('./imgs/red-icon.png') no-repeat;
                    margin-right: 7px;
                    width: 4px;
                    height: 14px;
                    background-size: 100% 100%;
                    float: left;
                .panel-subtitle
                    font-size 12px
                    margin-left 20px
            .panel-right
                display: inline-block;
                float: right;
                position: relative;
                top: -10px;
/*无边框,带阴影*/
.no-border
    border-radius: 0 !important;
    border: 0 !important;
/*无边框,title带点点下划线的*/
.dotted-underline
    .panel-heading
        border-bottom: 1px dashed #eee;
    .panel-border
        border: 0;
/**form面板*/
.form-panel
    .panel-heading
        font-weight: 400;
        height: auto;
        padding: 12px 24px;
        border-bottom:1px solid #fafafa;
        border-radius 4px 4px 0 0
        border-top 3px solid $color-orange-btn
        background-color #fff
/**grid面板*/
.grid-panel
    .panel-heading
        font-weight: 400;
        height: auto;
        padding: 12px 24px;
        border-bottom:1px solid #fafafa;
        border-radius 4px 4px 0
        border-top 3px solid $color-blue-primary
        background-color #fff
    .panel-body
        padding-left 20px !important
.panel-group
    margin-bottom:14px !important;
.paneltitle-line
    display inline-block
    width:4px;
    height:16px;

.addform-panel,.gridform-panel
    border 1px solid #dedede
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.13)
    .panel-heading
        border none
        font-weight: 400;
        height  35px
        font-size 16px
        color #1a1a1a
        background-color #fff
    .panel-body
        border none !important

.addform-panel
    .panel-heading
        .paneltitle-line
            background-color $color-orange-btn
.gridform-panel
    .panel-heading
        .paneltitle-line
            background-color #00a65a

.menutree-panel
    .panel-heading
        background:#ffffff
        box-shadow:0px 1px 0px 0px rgba(204,204,204,0.50)
        height:42px
        text-align center
        padding-left: 32px
        .panel-title
            line-height 22px
            color #212121
            font-size 16px
            text-align left
            .icon-menupanel
                vertical-align: middle
            strong
                font-weight normal
                font-size 16px
                color:#212121;
                
    .panel-body
        padding 0
