.input-group
    margin 0
.supplierModal
    .import-input
        top: 0;
        left: 88px;
        width: 45px;
        position: absolute;
        opacity: 0;
        height: 30px;
        cursor: pointer;
    .upload-preview
        width 180px
        height 70px
