.cfo-button
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: $font-yahei;
    // border: 1px solid #dcdcdc;
    font-weight: normal;
    &.btn
        background-color: $color-white;
        color: #dcdcdc;
        border: 1px solid $color-gray-primary;
    &.btn-default
        background-color: $color-gray-primary;
        border: 1px solid #dcdcdc;
        outline: none;
        color: #333;
    &.btn-default:hover
        background-color: $color-gray-border;
    &.btn-default:focus
        background-color: $color-red-secondary;
        color: $color-white;
    &.btn-primary
        background-color: $color-pink;
        color: #333;
    &.btn-confirm
        background-color: $color-red-secondary;
        color: $color-white;
.cfo-button-box
    vertical-align: middle;
.cfo-button-text

//按钮的背景图片样式
.cfo-icon-left
    float: left;
.cfo-icon-right
    float: right;
