.cfo-button
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 20px;
    display: inline-block;
.cfo-button-box
    display: inline-block;
    margin: auto;
.cfo-button-text
    display: inline-block;
    line-height 20px;
    margin: 0 5px;
.cfo-icon-left
    line-height: 20px;
    margin-left: 5px;
.cfo-icon-right
    line-height: 20px;
    margin-right: 5px;
.cfo-button-no-icon
    display: none;
.cfo-button-no-text
    display: none;