.modal
    .fa
        float: right;
        margin-top:-3px;
    .modal-header
        height:40px;
        padding:10px 15px;
        font-weight:bold;
    .panel
        margin: 5px 10px 30px
        border-radius: 0
        box-shadow: none

// 模态框样式修改
.modal-dialog
    border: 8px solid rgba(0,0,0,0.15)

.modal-content
    border-radius: 0
