.treeview-menu
    .active-item
        background-color $color-blue-fifth !important
.skin-blue .sidebar-menu > li >a,
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a
  background  #0f2136

.sidebar-menu .treeview-menu > li
    background-color #1f374d
.menu-arrow
    margin-right 14px
