.loading
    width:100%
    // background:url('/rbms/assets/images/icon/loading.gif') no-repeat;
    // background-position:center center;
    // background-size:30px 30px;
    margin-top:10px;
    min-height:100px;
.no-data
    font-size:14px;
    text-align:center;
    margin-top:20px;
.ui-grid
    .loading,.no-data
        position: absolute;
        top:25%;
        width:100%;
        text-align:center;
        font-size:16px;
